{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: Posts | {{ entity.title }}{% endblock headline %}
{% block title %}Console: Posts{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li><a href="{{ path('console_news') }}">Posts</a></li><li class="current"><a href="{{ path('console_news_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></li>{% endblock breadcrumbs %}

{% block content_content %}
<h2>{{ entity.title }}</h2>

{{ form(edit_form) }}
{% endblock content_content %}

{% block content_sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Article</h3>
    </div>
    <div class="panel-body">
        {%  if include_documents %}<a href="{{ path('console_news_documents', { 'id': entity.id }) }}" class="pure-button pure-button-secondary"><i class="glyphicon glyphicon-briefcase"></i> Manage Documents</a>{% endif %}
        {% if include_documents %}
            <ul class="documents">
            {% for document in entity.documents %}
                <li class="{{ document.extension }}"><i class="glyphicon glyphicon-file"></i> {{ document.title }} - <small><a href="{{ asset(document.webPath) }}" target="_document">view</a></small></li>
            {% endfor %}
            </ul>
        {% endif %}
        <p><a href="{{ path('console_news') }}" class="btn btn-default">Back to the list</a></p>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <form action="{{ path('console_news_delete', { 'id': entity.id }) }}" class="actions-delete" method="POST">
            {{ form_row(delete_form.id) }}
            {{ form_rest(delete_form) }}
            <button type="submit" class="pure-button pure-button-error">Delete</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content_sidebar %}

{% block head_style %}
{% stylesheets filter='less,cssembed,cssrewrite,?yui_css' output='css/style.default.css'
    '@ManhattanConsoleBundle/Resources/public/less/bootstrap.less'
    '@ManhattanConsoleBundle/Resources/public/css/prettify.css'
    '@ManhattanConsoleBundle/Resources/public/less/dashboard.less'
    '@OrnjMarkdownBundle/Resources/public/css/*'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block foot_script %}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
        '@MopaBootstrapBundle/Resources/public/js/*.js'
        '@OrnjMarkdownBundle/Resources/public/js/markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/to-markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootbox.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootstrap-markdown.js'
        filter="?yui_js"
        output="js/console_edit.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}

