{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block template_title %}Console: Posts{% endblock template_title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index') }}">Console</a></li><li class="current"><a href="{{ path('console_news') }}">Posts</a></li>{% endblock breadcrumbs %}
{% block template_console %}

<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th class="title">Title</th>
            <th>Published Date</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr{% if loop.index is odd %} class="pure-table-odd"{% endif %}>
            <td><a href="{{ path('console_news_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{% if entity.publishdate %}{{ entity.publishdate|date('Y-m-d') }}{% endif %}</td>
            <td class="update">{% spaceless %}
                {% if entity.publishState == 2 %}
                    <span class="pure-button pure-button-success">Published</span>
                {% elseif entity.publishState == 4 %}
                    <span class="pure-button">Archived</span>
                {% else %}
                    <span class="pure-button pure-button-secondary">Draft</span>
                {% endif %}
            {% endspaceless %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="l-box">
    <a href="{{ path('console_news_new') }}"  class="pure-button pure-button-primary">Create a new post</a>
</div>

{% endblock template_console %}
