{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block title %}Console: Posts | Create New{% endblock title %}
{% block template_title %}Console: Posts{% endblock template_title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index') }}">Console</a></li><li><a href="{{ path('console_news') }}">Posts</a></li><li class="current"><a href="{{ path('console_news_new') }}">Create New Post</a></li>{% endblock breadcrumbs %}

{% block template_console %}

<div class="pure-g-r">
    <div class="pure-u-3-4">

        <div class="l-box">
            <h2>{{ entity.title }}</h2>
            <form action="{{ path('console_news_create') }}" method="POST" class="pure-form pure-form-stacked" {{ form_enctype(form) }} novalidate>

                {{ form_widget(form) }}

                <div class="form-actions">
                    <a href="{{ path('console_news') }}" class="pure-button">Back to the list</a>
                    <button type="submit" class="pure-button pure-button-primary">Create</button>
            </form>
            </div>
        </div>

    </div>

    <div class="pure-u-1-4">
        <div class="l-box">
            <h3>Create New Post</h3>
            <p>To create a new post just fill in the Title and Body, then click <em>Create</em>.</p>
        </div>
    </div>
</div>

{% endblock template_console %}

{% block foot_script %}
    {% javascripts
        'http://yui.yahooapis.com/3.13.0/build/yui/yui-min.js'
        '@ManhattanConsoleBundle/Resources/public/js/yui/mainmenu.js'
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '@OrnjMarkdownBundle/Resources/public/js/markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/to-markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootbox.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootstrap-markdown.js'
        filter="?yui_js"
        output="js/console-edit.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}
