{% extends "ManhattanConsoleBundle::layout.html.twig" %}

{% block content %}
<table class="record_properties table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>Excerpt</th>
            <td>{{ entity.excerpt|raw  }}</td>
        </tr>
        <tr>
            <th>Publish Date</th>
            <td>{{ entity.publishdate|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
