{% extends "ManhattanPostsBundle::layout.html.twig" %}
{% block subheadline %}Attachment{% endblock %}

{% block content %}

<form action="{{ path('console_news_attachment_update', { 'id': entity.post.id, 'attachment_id': entity.id }) }}" class ="form-horizontal well" method="post" {{ form_enctype(edit_form) }} novalidate>
    <div class="manage">
    {{ form_widget(edit_form) }}

    <div class="form-actions">
        <a href="{{ path('console_news_attachments', { 'id': entity.post.id }) }}" class="btn">Back to Attachments</a>
        <button type="submit" class="btn btn-primary">Edit</button>
</form>
        {% if is_granted('ROLE_SUPER_ADMIN') %}<a href="{{ path('console_news_attachment_delete', { 'id': entity.post.id, 'attachment_id': entity.id }) }}" class="btn btn-danger">Remove</a>{% endif %}
    </div>
    </div>

{% endblock %}
