<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/" xmlns:media="http://search.yahoo.com/mrss/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
    <channel>
        <title>{{ information.title }}</title>
        <link>{{ url(information.link) }}</link>
        <description>{{ information.description }}</description>
        <image>
            <title>{{ information.image.title }}</title>
            <link>{{ url(information.image.link) }}</link>
            <url>{{ asset(information.image.src) }}</url>
        </image>
        <docs>{{ information.docs }}</docs>
        <copyright>{{ information.copyright }}</copyright>
        <pubDate>{% if latest_posts.0.publishdate %}{{ latest_posts.0.publishdate|date('D, d M Y H:i:s O') }}{% endif %}</pubDate>
        <lastBuildDate>{% if latest_posts.0.publishdate %}{{ latest_posts.0.publishdate|date('D, d M Y H:i:s O') }}{% endif %}</lastBuildDate>
        <category>{{ information.category }}</category>

        {% for post in latest_posts %}<item>
            <title>{{ post.title }}</title>
            <description>{{ post.excerpt|e('html') }}</description>
            <link>{{ url('posts_view', { 'date': post.date, 'slug': post.slug }) }}</link>
            <guid>{{ url('posts_view', { 'date': post.date, 'slug': post.slug }) }}</guid>
            <pubDate>{{ post.publishdate|date('D, d M Y H:i:s O') }}</pubDate>
        </item>
        {% endfor %}

    </channel>
</rss>
