{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: Category | {{ entity.title }}{% endblock headline %}
{% block title %}Console: Category{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li><a href="{{ path('console_news') }}">Posts</a></li><li><a href="{{ path('console_news_category') }}">Category</a></li><li class="current">Edit Category</li>{% endblock breadcrumbs %}

{% block content_content %}
<h2>{{ entity.title }}</h2>

<form action="{{ path('console_news_category_update', { 'id': entity.id }) }}" class="form-horizontal" role="form" method="POST" {{ form_enctype(edit_form) }} novalidate>
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}

    <div class="form-actions">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save and Update</button>
        </div>
    </div>
</form>
{% endblock content_content %}

{% block content_sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Article</h3>
    </div>
    <div class="panel-body">
        <p><a href="{{ path('console_news_category') }}" class="btn btn-default">Back to the list</a></p>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <form action="{{ path('console_news_category_delete', { 'id': entity.id }) }}" class="actions-delete" method="post">
            {{ form_row(delete_form.id) }}
            {{ form_rest(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content_sidebar %}

{% block head_style %}
{% stylesheets filter='less,cssembed,cssrewrite,?yui_css' output='css/style.default.css'
    '@ManhattanConsoleBundle/Resources/public/less/bootstrap.less'
    '@ManhattanConsoleBundle/Resources/public/css/prettify.css'
    '@ManhattanConsoleBundle/Resources/public/less/dashboard.less'
    '@OrnjMarkdownBundle/Resources/public/css/*'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block foot_script %}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
        '@MopaBootstrapBundle/Resources/public/js/*.js'
        '@OrnjMarkdownBundle/Resources/public/js/markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/to-markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootbox.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootstrap-markdown.js'
        filter="?yui_js"
        output="js/console_edit.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}

