{% extends "ManhattanPostsBundle::layout.html.twig" %}
{% block subheadline %}Category{% endblock %}

{% block content %}

<form action="{{ path('console_news_category_update', { 'id': entity.id }) }}" class ="form-horizontal well" method="post" {{ form_enctype(edit_form) }} novalidate>
    <div class="manage">
    {{ form_widget(edit_form) }}

    <div class="form-actions">
        <a href="{{ path('console_news_category') }}" class="btn">Back to the list</a>
        <button type="submit" class="btn btn-primary">Edit</button>
</form>
        <form action="{{ path('console_news_category_delete', { 'id': entity.id }) }}" class="actions-delete" method="post">
            {{ form_row(delete_form.id) }}
            {{ form_rest(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    </div>

{% endblock %}

{% block foot_script %}
    {% javascripts
        'http://yui.yahooapis.com/3.13.0/build/yui/yui-min.js'
        '@ManhattanConsoleBundle/Resources/public/js/yui/mainmenu.js'
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '@OrnjMarkdownBundle/Resources/public/js/markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/to-markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootbox.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootstrap-markdown.js'
        filter="?yui_js"
        output="js/console-edit.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}
