{% extends "ManhattanPostsBundle::layout.html.twig" %}
{% block subheadline %}Category{% endblock %}

{% block content %}
<form action="{{ path('console_news_category_create') }}" method="post" class="form-horizontal well" {{ form_enctype(form) }} novalidate>

  <fieldset>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ path('console_news_category') }}" class="btn">Back to the list</a>
    </div>
  </fieldset>
</form>
{% endblock %}

{% block page_javascript %}
    {{ tinymce_init() }}
{% endblock page_javascript %}