{% extends "ManhattanPostsBundle::layout.html.twig" %}
{% block subheadline %}Category{% endblock %}

{% block content %}
<form action="{{ path('console_news_category_create') }}" method="post" class="form-horizontal well" {{ form_enctype(form) }} novalidate>

  <fieldset>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ path('console_news_category') }}" class="btn">Back to the list</a>
    </div>
  </fieldset>
</form>
{% endblock %}

{% block foot_script %}
    {% javascripts
        'http://yui.yahooapis.com/3.13.0/build/yui/yui-min.js'
        '@ManhattanConsoleBundle/Resources/public/js/yui/mainmenu.js'
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '@OrnjMarkdownBundle/Resources/public/js/markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/to-markdown.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootbox.js'
        '@OrnjMarkdownBundle/Resources/public/js/bootstrap-markdown.js'
        filter="?yui_js"
        output="js/console-edit.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}
