{% block latest_news %}
{% spaceless %}
	{% if latest_news|length > 0 %}
	<div class="container box news-information">
        <h4><span>Latest News</span></h4>
        {% for post in latest_news %}
        <div class="item">
	        <h5><a href="{{ path('posts_view', { 'date': post.date, 'slug': post.slug }) }}">{{ post.title }}</a></h5>
	        <p class="small"><a href="{{ path('posts_view', { 'date': post.date, 'slug': post.slug }) }}">Published Date: {{ post.publishdate|date('d/m/Y') }}</a></p>
	        <p>{{ post.excerpt|truncate(250)|striptags('<p><a><strong><em>')|raw }} <a href="{{ path('posts_view', { 'date': post.date, 'slug': post.slug }) }}">Read more...</a></p>
	    </div>
        {% endfor %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block recent_list %}
{% spaceless %}
	{% if recent_news|length > 0 %}
	<div class="container box news-related">
        <h4>Recent Articles</h4>
        <ul class="social show-on-desktops">
            <li>
                <a href="{{ path('posts_rss2') }}" class="rss"><span>RSS</span></a>
            </li>
        </ul>
        <ul>
        	{% for post in recent_news %}
        	<li>
                <a href="{{ path('posts_view', { 'date': post.date, 'slug': post.slug }) }}">{{ post.title }}</a>
                <span class="small"><strong>{{ post.publishdate|date('d/m/Y') }}</strong></span>
            </li>
        	{% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block categories %}
{% spaceless %}
<div class="container box news-information">
    <h4>Browse Categories</h4>
    <dl class="sub-nav">
        <dt>Filter:</dt>
        <dd><a href="{{ path('posts') }}">All</a></dd>
        {% for category in categories %}
        <dd{% if options.current == category.slug %} class="active"{% endif %}><a href="{{ path('posts_category', {'category': category.slug}) }}">{{ category.title }}</a></dd>
        {% endfor %}
    </dl>
</div>
{% endspaceless %}
{% endblock %}

{% block simple_list %}
{% spaceless %}
<ul class="news">
    {% for post in recent_news %}
    <li><a href="{{ path('posts_view', { 'date': post.date, 'slug': post.slug }) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock %}
